<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title> Social Login </title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <a href="/auth/spotify" class="back-btn">
            Log in with Spotify
        </a><br>
        <a href="/" class="back-btn">Back to Home Page</a>
    </div>
</body>
</html>